@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,300;1,100;1,300&family=Poppins:wght@300;400;500;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,300;1,100;1,300&family=Poppins:wght@300;400;500;600&family=Raleway:wght@300&display=swap');

 *{
   margin: 0%;
   padding: 0%;
   box-sizing: border-box;

 }
 html,body{
    height:100%;
    width:100%;
    background-color:black;

 }
 #main{
    position: relative;
    overflow:hidden;
 }
 #page1{
    height:100vh;
    width:100vw;
    position: relative;
 }
 #page1 nav{
    height:100px;
    width:100vw;
    display:flex;
    align-items:center;
    justify-content:space-between;
    padding:0 2.5vw;
 }
 .page1-center{
    height:calc(100vh - 100px);
    width:100vw;
 }
nav img{
    height:7vw;
    width:7.5vw;
}
.nav-menu button{
    font-size:1vw;
    border-radius:50px;
    padding:0.8vw 1.8vw;
    font-weight:700;
    background-color:transparent;
    color:#fff;
    border:3px solid grey;
}
.nav-menu button:hover{
    background-color:#fff;
    color:black;
    transition:0.4s ease-in;
    border:3px solid #020125;
}
#page1 video{
    height:100vh;
    width:100vw;
    z-index: -1;
    position: absolute;
    top:0;
    left:0;
    object-fit:cover; 
}
.page1-center{
    padding:5vw 4vw;
}
.center-left h1{
    font-size:5vw;
    color:#fff;
    font-family:Poppins;
}
.center-right{
    display:flex;
    align-items:center;
}
.center-right p{
    margin-top:8vw;
    font-size:1.5vw;
    color:#fff;
}
.center-right button{
    font-size:1vw;
    border-radius:50px;
    padding:1vw 3vw;
    margin-left:13vw;
    margin-top:8vw;
    border:hidden;
    font-weight:700;
    transition:0.3s ease-in;
    border:2px solid #fff;

}
.center-right button:hover{
    background-color:transparent;
    color:white;
    border:2px solid grey;
}
#page2{
    display:flex;
    align-items:start;
    justify-content:center;
    flex-direction:column;
    height:100vw;
    width:100%;
    background-color:#151318;
    padding:0 3vw;
    position: relative;
    font-family:Poppins;
}
#page2 h3{
    font-size:2.3vw;
    margin-bottom:15vw;
    font-weight:500;
    color:#fff;



}
#page2 h1{
    font-size:4vw;
    line-height:2;
    font-weight:400;
    color:grey;

}
#page3{
    position: relative;
    height:100vh;
    width:100vw;
    background-color:black;

}
#page4{
    height:100vh;
    width:100vw;
    background-color:black;
    display:flex;
    align-items:center;
    justify-content:space-between;

}
#page4 h2{
    color:white;
    font-family:Poppins;
    font-size:5vw;
    margin-left:3vw;
    line-height:2.5;
    font-weight:700;
}
#page4 h3{
    color:white;
    font-family:Poppins;
    font-size:2.5vw;
    margin-right:2vw;
    line-height:2;
    font-weight:600;
}
#page5{
    height:100vh;
    width:100vw;
    background-color:black;
    display:flex;
    align-items:center;
    justify-content:space-between;

}
#page5 h2{
    color:white;
    font-family:Poppins;
    font-size:5vw;
    margin-left:3vw;
    line-height:2.5;
    font-weight:700;
}
#page5 h3{
    color:white;
    font-family:Poppins;
    font-size:2.5vw;
    margin-right:2vw;
    line-height:2;
    font-weight:600;
}
#page6{
    height:100vh;
    width:100vw;
    background-color:black;
    display:flex;
    align-items:center;
    justify-content:space-between;

}
#page6 h2{
    color:white;
    font-family:Poppins;
    font-size:5vw;
    margin-left:3vw;
    line-height:2;
    font-weight:700;
}
#page6 h3{
    color:white;
    font-family:Poppins;
    font-size:2.5vw;
    margin-right:2vw;
    line-height:2;
    font-weight:600;
}
#page7{
    height:100vh;
    width:100vw;
    background-color:black;
    display:flex;
    align-items:center;
    justify-content:center;

}
#page7 h2{
    color:grey;
    font-family:Poppins;
    font-size:4vw;
    margin-left:3vw;
    line-height:2;
    font-weight:700;
    width:70%;
}
canvas{
    z-index: 9;
    max-width:100vw;
    max-height:100vh;
}
#page8{
    height:100vh;
    width:100%;
    position: relative;
}
#page8 video{
    height:100vh;
    width:100vw;
    z-index: -1;
    position: absolute;
    top:0;
    left:0;
    object-fit:cover; 
}
.page8-center{
    font-family:Poppins;
    font-weight:500;
    display:flex;
    align-items:center;
    flex-direction:column;
    padding:30vw 0;
}
.page8-center h2{
    color:#fff;
    font-size:5vw;
}
.page8-center button{
    font-size:1vw;
    padding:1vw 1vw;
    border-radius:50px;
    border: 2px solid grey;
    background-color:transparent;
    color:#fff;
    font-weight:700;
}
.page8-center button:hover{
    background-color:#fff;
    border:2px solid white;
    color:black;
    transition: 0.3s ease-in;
}
#page9{
    display:flex;
    align-items:center;
    justify-content:space-between;
    height:100vh;
    width:100%;
    background-color:black;
    padding:1vw 4vw;
}
#page9 img{
    height:60vh;
    width:100vh;
    border-radius:20px;
}
#page9 h2{
    font-size:5vw;
    font-family:Poppins;
    color:white;
}
#page10{
    height:100vh;
    width:100%;
    background-color:black;
    display:flex;
    align-items:center;
    flex-direction:column;
    font-family:Poppins;
    padding:3vw 4vw;
}
.page10-upper{
    height:33.3vh;
    width:100%;
    color:white;
}
.page10-upper h2{
    font-size:2.5vw;
    margin-bottom:1vw;
}
.page10-upper h3{
    font-size:1.5vw;
}
.page10-center{
    height:33.3vh;
    width:100%;
    color:white;
    margin-bottom:2vw;
}
.page10-center h2{
    font-size:2.5vw;
    margin-bottom:1vw;
}
.page10-center h3{
    font-size:1.5vw;
}
.page10-lower{
    height:33.3vh;
    width:100%;
    color:white;
}
.page10-lower h2{
    font-size:2.5vw;
    margin-bottom:1vw;
}
.page10-lower h3{
    font-size:1.5vw;
}
#page11{
    height:100vh;
    width:100%;
    background-color:black;
}
#page11 nav{
    height:100px;
    width:100%;
    padding:1vw 3vw;
    font-family:Poppins;
    font-size:3vw;
    color:#fff;
}
.page11-content{
    height:calc(100vh - 100px);
    width:100%;
    padding:0 3vw;
    font-family:Poppins;
}
.upper11{
    height:30vh;
    width:100%;
    display:flex;
    align-items:center;
    gap:20vw;
}
.center11{
    height:30vh;
    width:100%;
    display:flex;
    align-items:center;
    gap:20vw;
}
.lower11{
    height:40vh;
    width:100%;
    display:flex;
    align-items:center;
    gap:20vw;
}
.upper11 img{
    height:28vh;
    width:25vw;
    border-radius:20px;
}
.center11 img{
    height:28vh;
    width:25vw;
    border-radius:20px;
}
.lower11 img{
    height:28vh;
    width:25vw;
    border-radius:20px;
    margin-bottom:4.5vw;
}
.upper11 h5{
    color:white;
    margin-bottom:1vw;
}
.upper11-right{
    color:white;
    font-size:0.9vw;
}
.center11 h5{
    color:white;
    margin-bottom:1vw;
}
.center11-right{
    color:white;
    font-size:0.9vw;
}
.lower11 h5{
    color:white;
    margin-bottom:1vw;
}
.lower11-right{
    color:white;
    margin-bottom:3vw;
    font-size:0.9vw;
}
#page12{
    height:100vh;
    width:100%;
    background-color:black;
    padding:10vw 3vw;
    font-family:Poppins;
}
#page12 h1{
    font-size:6vw;
    margin-bottom:5vw;
    color:white;
}
#page12 p{
    font-size:1.5vw;
    color:grey;
}
#page13{
    height:100vh;
    width:100%;
}
.upper13{
    height:50vh;
    width:100%;
    background-color:black;
    padding:2vw 3vw;
    font-family:Poppins;
}
.upper13 h1{
    font-size:4vw;
    color:white;
}
.upper13 button{
    font-size:1vw;
    border-radius:50px;
    font-weight:600;
    padding:1vw 2vw;
    border:2px solid grey;
    margin-top:3vw;
    background-color:transparent;
    color:white;
}
.upper13 button:hover{
    transition:0.4s ease-in;
    background-color:white;
    color:black;
}
.lower13{
    height:50vh;
    width:100%;
    display:flex;
    flex-direction:column;
    padding:2vw 3vw;
    gap:1vw;
    font-family:Poppins;
}
.lower13 button{
    font-size:3vw;
    padding:1vw 40vw;
    border-radius:20px;
    border:2px solid grey;
    background-color:transparent;
    color:white;
}
#linkedin{
    padding:1vw 38.7vw; 
}
.lower13 button:hover{
    border:2px solid grey;
    color:black;
    background-color:white;
    transition:0.4s ease-in;
}
#page14{
    height:60vh;
    width:100%;
    display:flex;
    font-family:Poppins;
}
.left14{
    height:60vh;
    width:50%;
    display:flex;
    gap:5vw;
    padding:5vw 3vw;
    font-size:1.3vw;
    color:white;
}
.right14{
    height:60vh;
    width:50%;
    padding:5vw 10vw;
}
.right14 h3{
    font-size:2vw;
    color:white;
    font-weight:200;
}
.right14 input[type="email"]::placeholder {  
    text-align: left;
    background-color:black;
}
.right14 i{
    font-size:2vw;
    color:grey;
}
.right14 input{
    border:none;
}
.line14{
    height:0.1vh;
    width:84%;
    background-color:grey;
}

